<nav>
  <ul class="pagination">
    <li ng-class="{disabled: !paginatorCtrl.showPrev}">
      <a href="" ng-click="paginatorCtrl.gotoPrev()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="page in paginatorCtrl.pages" ng-class="{active: page.selected}">
      <a href="" ng-click="paginatorCtrl.changePage(page.page)">{{page.text}}</a>
    </li>
    <li ng-class="{disabled: !paginatorCtrl.showNext}">
      <a href="" ng-click="paginatorCtrl.gotoNext()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
