.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

img.qrcode {
  height: 250px;
  width: 250px;
  display: block;
}

.oneliner {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
